.card{
    border: 5px;
    width: 300px;
    place-items: center;
   
  

}
.cards{
    margin-right: 120px;
display: flex;
flex-direction: row;
justify-content: space-evenly;

}
.card:hover{
   background-color: azure;
   transform: scale(1.025);
   box-shadow: 5px 10px 5px rgb(143, 190, 231);
}

.image{
    float: right;
    margin-left: 25px;
    margin-bottom: 5px;
    margin-top: -12px;
}
mat-card-content{
    font-size: larger;
    height: 70px;
}



